<html>

  <head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="alexpf2css.css">

  </head>

  <body>
    <div class="nav">
      <div  id="navi" class="container">
        <ul class="pull-left">
          <li id ="alex"><a href="#">Alex codes for you</a></li>
        </ul>
        <ul class="pull-right">
          <li><a href="mailto:alexvarjabedian7@gmail.com" target="_blank">Email</a></li>
          <li><a href="https://www.linkedin.com/in/alex-varjabedian-56421369" target="_blank">Linkedin</a></li>
          <li><a href="https://github.com/alexv7" target="_blank">Github</a></li>
        </ul>
      </div>
    </div>

    <div class="jumbotron" id="jumbo">
      <div class="container">
          <p><img src="./assets/images/wyncode_profile_pic.jpg" id="my_image"></p>
          <p id="my_p">Full Stack Web Developer</p>
      </div>
    </div>

    <div id="Projects" class="Projects">
      <div class="container">
        <h2>Projects</h2>
          <p>Below is a list of completed and upcoming projects.</p>

          <div class="learn-more">
            <div class="container">
              <div class="row">

                <div class="col-md-4">
                  <h3>Tictactoe</h3>
                    <p>This is a tictactoe game I built as a REPL game.</p>
                    <p><a href="#">Learn more</a></p>
                </div>

                <div class="col-md-4">
                  <h3>Voter Sim</h3>
                    <p>This is a voter simulation built using the 4 main CRUD operations.</p>
                    <p><a href="#">Learn more</a></p>
                </div>

                <div class="col-md-4">
                  <h3>Site Search</h3>
                    <p>This is a site search feature with basic searching algorithm. </p>
                    <p><a href="#">Learn more</a></p>
                </div>

            </div>
          </div>
          </div>

            <div class="row">

               <div class="col-md-4">
                   <a href="https://github.com/alexv7/tic-tac-toe-rb-002" target="_blank"><img src="./assets/tictactoe.jpeg"></a>
               </div>

               <div class="col-md-4">
                   <a href="https://github.com/alexv7/votersimproject" target="_blank"><img src="./assets/voting.jpeg"></a>
               </div>

               <div class="col-md-4">
                   <a href="https://github.com/alexv7/Sitesearch" target="_blank"><img src="./assets/sitesearch.jpeg"></a>
               </div>

            </div>
      </div>
    </div>



  <div id="Projects" class="Projects">
    <div class="container">

        <div class="learn-more">
          <div class="container">
            <div class="row">

              <div class="col-md-4">
                <h3>Wynshop</h3>
                  <p>Wynshop is a mini amazon clone. It features product listings, review creation, and password authentication</p>
                  <p><a href="#">Learn more</a></p>
              </div>

              <div class="col-md-4">
                <h3>Oauth </h3>
                  <p>Facebook login feature implemented for a web application.</p>
                  <p><a href="#">Learn more</a></p>
              </div>

              <div class="col-md-4">
                <h3>Loneliest Chatroom</h3>
                  <p>Have you ever talked to yourself? Good! This is an app that lets you talk to yourself all day!</p>
                  <p><a href="#">Learn more</a></p>
              </div>

          </div>
        </div>
      </div>

          <div class="row">

             <div class="col-md-4">
                 <a href="https://github.com/alexv7/Wynshop_Master1" target="_blank"><img src="./assets/wynshop.png"></a>
             </div>

             <div class="col-md-4">
                 <a href="https://github.com/alexv7/oauth_example" target="_blank"><img src="./assets/oauthfacebook.png"></a>
             </div>

             <div class="col-md-4">
                 <a href="https://github.com/alexv7/Loneliest-Chatroom-master" target="_blank"><img src="./assets/loneliest_chatroom.jpeg"></a>
             </div>

          </div>
    </div>
  </div>




<div id="Projects" class="Projects">
  <div class="container">

      <div class="learn-more">
        <div class="container">
          <div class="row">

            <div class="col-md-4">
              <h3>Aircnc</h3>
                <p>This is an Airbnb clone using Ruby on Rails.</p>
                <p><a href="#">Learn more</a></p>
            </div>

            <div class="col-md-4">
              <h3>Mailer</h3>
                <p>A mailer app that sends automatic email using multiple servers.</p>
                <p><a href="#">Learn more</a></p>
            </div>

            <div class="col-md-4">
              <h3>Couplr</h3>
                <p>Couplr is an app that connects couples who have similar interests.</p>
                <p><a href="http://www.couplrapp.co" target="_blank">Learn more</a></p>
            </div>

        </div>
      </div>
      </div>

        <div class="row">

           <div class="col-md-4">
               <a href="https://github.com/alexv7/aircnc" target="_blank"><img src="./assets/aircnc.jpeg"></a>
           </div>

           <div class="col-md-4">
               <a href="https://github.com/alexv7/mailer_app" target="_blank"><img src="./assets/mailer_app.jpeg"></a>
           </div>

           <div class="col-md-4">
               <a href="http://www.couplrapp.co" target="_blank"><img src="./assets/couplr.jpeg"></a>
           </div>

        </div>
  </div>
</div>

  </body>
</html>
